#### 웹(Web)에서 가져오기
- HTML 웹 페이지에서 표 속성 가져오기
    - read_html() 함수는 웹페이지에 있는 <table> 태그에서 표 형식의 데이터를 모두 찾아서 데이터 프레임으로 변환한다. 여러개의 데이터프레임이 리스트 형태로 반환된다.
    - HTML 표 속성 읽기: pandas.read_html('웹주소/html파일경로(이름)')

In [3]:
import pandas as pd

url = './data/sample.html'
tables = pd.read_html(url)
print(len(tables),"\n\n")

# tables 리스트의 원소를 iteration하면서 각각 화면 출력
for i in range(len(tables)):
    print("tables[%s]" %i)
    display(tables[i])

# 파이썬 패키지 정보가 들어 있는 두 번째 데이터 프레임을 ㅓㄴ택항 df 변수에 저장
df = tables[i]

# 'name' 열을 인덱스로 지정
df.set_index(['name'], inplace=True)
display(df)

2


tables[0]

   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9

tables[1]

         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

- 웹 스크래핑
    - BeautifulSoup 등 웹 스크래핑 도구로 데이터를 수집.
    - etfs[etf_ticker[0]] = [etf_market[0], etf_name[0]] 와 같이 리스트를 원소로 갖는 딕셔너리를 정의하는 방법을 기억해야함

In [6]:
from bs4 import BeautifulSoup as bs
import requests
import re
import pandas as pd

url = "https://en.wikipedia.org/wiki/List_of_American_exchange-traded_funds"
resp = requests.get(url)
soup = bs(resp.text, 'lxml')
rows = soup.select('div > ul > li')

etfs = {}
for row in rows:
    try:
        etf_name = re.findall('^(.*) \(NYSE', row.text)
        etf_market = re.findall('\((.*)\|', row.text)
        etf_ticker = re.findall('NYSE Arca\|(.*)\)', row.text)

        if (len(etf_ticker > 0)) & (len(etf_market) > 0) & (len(etf_name) > 0):
            etfs[etf_ticker[0]] = [etf_market[0], etf_name[0]]

    except:
        pass

# etfs 딕셔너리 출력
print(etfs, "\n")

# etf 딕셔너리를 데이터프레임으로 벼환
df = pd.DataFrame(etfs)
display(df)

{}

Empty DataFrame
Columns: []
Index: []