#### 중복 데이터 처리

In [3]:
import pandas as pd

df = pd.DataFrame({'c1':['a', 'a', 'b', 'a', 'b'],
                  'c2':[1, 1, 1, 2, 2],
                  'c3':[1, 1, 2, 2, 2]})
display(df)
print("\n")

df_dup = df.duplicated()
display(df_dup)
print('\n')

# 데이터프레임의 특정 열 데이터에서 중복값 찾기
col_dup = df['c2'].duplicated()
print(col_dup)

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

0    False
1     True
2    False
3    False
4    False
dtype: bool

0    False
1     True
2     True
3    False
4     True
Name: c2, dtype: bool

In [4]:
import pandas as pd

df = pd.DataFrame({'c1':['a', 'a', 'b', 'a', 'b'],
                  'c2':[1, 1, 1, 2, 2],
                  'c3':[1, 1, 2, 2, 2]})
display(df)
print("\n")

# 데이터 프레임에서 중복 행 제거
df2 = df.drop_duplicates()
display(df2)
df2.reset_index(drop=True, inplace=True)
df2
# c2, c3 열을 기준으로 중복 행 제거
df3 = df.drop_duplicates(subset=['c2','c3'])
display(df3)

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2