#### 데이터 과학자가 판다스를 배우는 이유
    : 데이터 분석 업무의 80~90%는 데이터를 수집하고 정리하는 일이 차지한다고 한다.
    나머지 10~20%는 알고리즘을 선택하고, 모델링 결과를 분석하여 데이터로부터 유용한 정보를 뽑아내는 분석프로세스의 몫이다.

#### 판다스 자료구조
    시리즈: 1차원 배열
    데이터프레임: 2차원 배열
    
- 시리즈
    
    인덱스와 값의 일대일 대응

In [5]:
# 딕셔너리 -> 시리즈
import pandas as pd

dict_data = {"a": 1, "b": 2, "c": 3}

sr = pd.Series(dict_data)
print(type(sr),"\n")
print(sr)

<class 'pandas.core.series.Series'>

a    1
b    2
c    3
dtype: int64

In [6]:
# 인덱스 값을 지정 해 주지 않을 경우 인덱스는 (0~ )
list_data = ['2022-04-25', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
sr

0    2022-04-25
1          3.14
2           ABC
3           100
4          True
dtype: object

In [14]:
# index와 value 추출
idx = sr.index
val = sr.values
print(idx,"\n",val)
print(type(val))

RangeIndex(start=0, stop=5, step=1)
 ['2022-04-25' 3.14 'ABC' 100 True]
<class 'numpy.ndarray'>

In [11]:
# 추가) 위 val은 한줄이어서 리스트인줄 알았지만 array구조였다.
dic={"a": [1,2,3], "b": [2,3,4], "c": [3,4,5]}
sr1 = pd.DataFrame(dic)
sr1.values

In [23]:
# 딕셔너리를 그대로 DataFrame에 넣자 오류가 뜬다, 인덱스값을 지정 해줘야함([]로 묶어서)
pd.DataFrame({"a":1,"b":2,"c":3}, index=['row_1'])

       a  b  c
row_1  1  2  3

In [24]:
# 튜플 -> 시리즈
tup_data = ("영인","2022-04-25","여",True)
sr = pd.Series(tup_data, index=["이름","생년월일","성별","학생여부"])
sr

이름              영인
생년월일    2022-04-25
성별               여
학생여부          True
dtype: object

In [30]:
# 인덱스를 이용하여 원소를 선택하는 방법
print("방법 1: 인덱스값 넣기 =",sr[0],"\n"+"방법 2: 인덱스 라벨 넣기 =",sr["이름"])

방법 1: 인덱스값 넣기 = 영인
방법 2: 인덱스 라벨 넣기 = 영인

In [37]:
# 여러 개의 인덱스를 "대괄호 안에" 리스트 형태로 입력
print(sr[[1,2]],"\n")
# 여러 개의 인덱스를 "대괄호 없이" 리스트 형태로 범위지정하여 입력
print(sr["이름":"학생여부"])

생년월일    2022-04-25
성별               여
dtype: object

이름              영인
생년월일    2022-04-25
성별               여
학생여부          True
dtype: object