#### 데이터프레임의 구조
- 데이터 내용 미리 보기

In [2]:
import pandas as pd

# read_csv 함수로 df 생성
df = pd.read_csv("./data/auto-mpg.csv")

# 열 이름 저장
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

# 데이터프레임의 df의 내용을 일부 확인
display(df.head())
display(df.tail())

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
1,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
2,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
3,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
4,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
392,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
394,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
395,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
396,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

- 데이터 요약 정보 확인하기

In [5]:
# df의 모양과 크기 확인: (행의 개수, 열의 개수)
print(df.shape,"\n")

# 데이터프레임 df의 내용 확인
print(df.info(),"\n")

(397, 9)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           397 non-null    float64
 1   cylinders     397 non-null    int64
 2   displacement  397 non-null    float64
 3   horsepower    397 non-null    object
 4   weight        397 non-null    float64
 5   acceleration  397 non-null    float64
 6   model year    397 non-null    int64
 7   origin        397 non-null    int64
 8   name          397 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.0+ KB
None

In [6]:
# 데이터프레임 df의 자료형 확인
print(df.dtypes,"\n")

# 시리즈(mpg 열)의 자료형 확인
print(df.mpg.dtypes)

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model year        int64
origin            int64
name             object
dtype: object

float64

산술데이터를 가지는 열에 대한 주요 기술 통계 정보(평균, 표준편차, 최대값, 최소값, 중간값 등)을 요약하여 출력한다

산술데이터가 아닌 열에대한 정보를 포함하고 싶을 때는, include='all' 옵션을 추가한다

In [8]:
# 데이터프레임 df의 기술통계 정보 확인 
print(df.describe())
print('\n')
print(df.describe(include='all'))

              mpg   cylinders  displacement       weight  acceleration  \
count  397.000000  397.000000    397.000000   397.000000    397.000000
mean    23.528463    5.448363    193.139798  2969.080605     15.577078
std      7.820926    1.698329    104.244898   847.485218      2.755326
min      9.000000    3.000000     68.000000  1613.000000      8.000000
25%     17.500000    4.000000    104.000000  2223.000000     13.900000
50%     23.000000    4.000000    146.000000  2800.000000     15.500000
75%     29.000000    8.000000    262.000000  3609.000000     17.200000
max     46.600000    8.000000    455.000000  5140.000000     24.800000

       model year      origin
count  397.000000  397.000000
mean    76.025189    1.574307
std      3.689922    0.802549
min     70.000000    1.000000
25%     73.000000    1.000000
50%     76.000000    1.000000
75%     79.000000    2.000000
max     82.000000    3.000000


               mpg   cylinders  displacement horsepower       weight  \
count   397.000000  397.000000    397.000000        397   397.000000
unique         NaN         NaN           NaN         94          NaN
top            NaN         NaN           NaN      150.0          NaN
freq           NaN         NaN           NaN         22          NaN
mean     23.528463    5.448363    193.139798        NaN  2969.080605
std       7.820926    1.698329    104.244898        NaN   847.485218
min       9.000000    3.000000     68.000000        NaN  1613.000000
25%      17.500000    4.000000    104.000000        NaN  2223.000000
50%      23.000000    4.000000    146.000000        NaN  2800.000000
75%      29.000000    8.000000    262.000000        NaN  3609.000000
max      46.600000    8.000000    455.000000        NaN  5140.000000

        acceleration  model year      origin        name
count     397.000000  397.000000  397.000000         397
unique           NaN         NaN         NaN         305
top              NaN         NaN         NaN  ford pinto
freq             NaN         NaN         NaN           6
mean       15.577078   76.025189    1.574307         NaN
std         2.755326    3.689922    0.802549         NaN
min         8.000000   70.000000    1.000000         NaN
25%        13.900000   73.000000    1.000000         NaN
50%        15.500000   76.000000    1.000000         NaN
75%        17.200000   79.000000    2.000000         NaN
max        24.800000   82.000000    3.000000         NaN

- 데이터 개수 확인

info()는 출력은 하지만 반환값이 없지만, count()는 시리즈객체로 반환한다 (단, 유효한 값의 개수만을 계산한다)

In [10]:
import pandas as pd

# read_csv() 함수로 df 생성
df = pd.read_csv('./data/auto-mpg.csv', header=None)

# 열 이름을 지정
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

# 데이터프레임 df의 각 열이 가지고 있는 원소 개수 확인 
print(df.count())
print('\n')

# df.count()가 반환하는 객체 타입 출력
print(type(df.count()))

mpg             398
cylinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
model year      398
origin          398
name            398
dtype: int64


<class 'pandas.core.series.Series'>

In [11]:
# 데이터프레임 df의 특정 열이 가지고 있는 고유값 확인 
unique_values = df['origin'].value_counts() 
print(unique_values)
print('\n')

# value_counts 메소드가 반환하는 객체 타입 출력
print(type(unique_values))

1    249
3     79
2     70
Name: origin, dtype: int64


<class 'pandas.core.series.Series'>